<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views - 100,256</small>
    <h5 class="mt-1">Starting Blogging in 2023</h5>
    <p>
      most even without think show on much the take will before during number
      set he between never a they use over come she nation leave find also so
      part each want give write more some at we between present group how people
      only against problem however
    </p>
    <small class="bg-light text-warning text-center ml-3"
      >Last Updated - pick.some.date</small
    >
  </div>
</div>
